{% extends 'base.html'%}

{%block content%}
<h4 style="padding-left: 200px;">Welcome to the dashboard page,<b>{{user}}!</b></h4>
<hr style="border : 1px solid ; margin: 30px 180px;">
<div style="padding-left: 200px;">
<a href="{% url 'createrecord' %}" class="btn-outline-primary">Create Record</a>
</div>
<hr style="border : 1px solid ; margin: 30px 180px;">


{% include 'parts/alerts.html'%}

<div class="text-center" style="margin: 0px 100px;">
    <form action="{% url 'search' %}" method="GET">
        <input type="search" name="query" placeholder="Write somthing" class="form-control mr-sm-2">
        &nbsp;
        <button type="submit" class="btn btn-outline-primary w-100 btn-block p-2">Search</button>
    </form>
    <hr style="border : 1px solid ; margin: 30px 180px;">
</div>

<div class="text-center">
    <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Category</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">Tall</th>
      <th scope="col">Weight</th>
      <th scope="col">Date</th>
      <th scope="col">View</th>
    
    </tr>
  </thead>
  <tbody>
    {% if record %}
    {% for record in record %}
    <tr>
      <td>{{ record.id }}</td>
      <td>{{ record.first_name }}</td>
      <td>{{ record.last_name }}</td>
      <td>{{ record.Category }}</td>
      <td>{{ record.phone }}</td>
      <td>{{ record.address }}</td>
      <td>{{ record.tall }}</td>
      <td>{{ record.weight }}</td>
      <td>{{ record.created_at }}</td>
      <td><a href="{% url 'view_record' record.id %}" class="btn btn-outline-primary">View</a></td>
    </tr>
   {% endfor %}
   {% else %}
   <tr>
    <td colspan="110" class="text-center">
        <div class="alert alert-warning" role="alert">
            You don't have any record yet!
        </div>
    </td>
   </tr>
   {% endif %}
  </tbody>
</table>
</div>
{% endblock %}